@import '/src/scss/variables';
@import '/src/scss/mixins';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  &__image {
    background-image: url('../../assets/shared/desktop/bg-pattern-small-circle.svg');
    background-repeat: no-repeat;
    padding-bottom: 30px;
  }
  &__heading {
    font-size: 2rem;
    font-weight: $weight-bold;
    line-height: 26px;
    letter-spacing: 5px;
    color: $secondary-dark-grey;
    text-transform: uppercase;
  }
  &__cta {
    @include cta;
    background-color: $primary-peach;
    color: $primary-white;
  }
}
