@import '/src/scss/variables';
@import '/src/scss/mixins';

.card {
  display: flex;
  flex-direction: column;

  &__image {
    border-radius: $border-radius $border-radius 0 0;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-inline: 30px;
    height: 158px;
    background-color: #fdf3f0;
    border-radius: 0 0 $border-radius $border-radius;
  }
  &__heading {
    font-size: 2rem;
    font-weight: $weight-bold;
    line-height: 26px;
    letter-spacing: 5px;
    color: $primary-peach;
    text-transform: uppercase;
  }
  &__description {
    font-size: 1.6rem;
    font-weight: $weight-regular;
    line-height: 26px;
    color: $secondary-dark-grey;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    flex-direction: row;

    &__image {
      height: 310px;
      border-radius: $border-radius 0 0 $border-radius;
    }
    &__container {
      height: 310px;
      width: 100%;
      border-radius: 0 $border-radius $border-radius 0;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .card {
    flex-direction: column;

    &__image {
      border-radius: $border-radius $border-radius 0 0;
    }
    &__container {
      height: 158px;
      width: 100%;
      border-radius: 0 0 $border-radius $border-radius;
    }
  }
}
