@import '/src/scss/variables';
@import '/src/scss/mixins';

.card {
  &__image {
    width: 100%;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: $primary-peach;
    background-image: url('../../assets/shared/desktop/bg-pattern-small-circle.svg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: top -150px right;
    padding-inline: $mobile-outside-spacing;
    padding-block: 75px;

    &--secondary {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      // height: 395px;
      background-color: #fdf3f0;
      background-image: url('../../assets/shared/desktop/bg-pattern-small-circle.svg');
      background-repeat: no-repeat;
      background-size: 75%;
      background-position: top left;
      padding-inline: $mobile-outside-spacing;
      padding-block: 75px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .card {
    &__image {
      border-radius: $border-radius $border-radius 0 0;
    }
    &__container {
      background-position: top -350px left -100px;
      border-radius: 0 0 $border-radius $border-radius;

      &--secondary {
        background-image: url('../../assets/shared/desktop/bg-pattern-three-circles.svg');
        background-position: top;
        background-size: 75%;
        background-repeat: repeat;
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row-reverse;

    &__image {
      border-radius: 0 $border-radius $border-radius 0;
    }

    &__container {
      border-radius: $border-radius 0 0 $border-radius;
      align-items: start;
      background-image: url('../../assets/shared/desktop/bg-pattern-small-circle.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top -200px left -50px;
      padding: 75px;

      &--secondary {
        background-image: url('../../assets/shared/desktop/bg-pattern-three-circles.svg');
        background-position: top;
        background-size: 100%;
        background-repeat: repeat;
        border-radius: 0 $border-radius $border-radius 0;
        align-items: start;
        padding: 75px;
      }
    }
  }
}
