@import '/src/scss/variables';
@import '/src/scss/mixins';

address {
  font-style: normal;
}

.footer {
  background: linear-gradient(0deg, #1d1c1e 80%, rgb(255, 255, 255) 80%);

  &__card {
    height: 379px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-inline: $mobile-outside-spacing;
    padding-inline: 23px;
    background-color: $primary-peach;
    border-radius: $border-radius;
    background-image: url('../../assets/shared/desktop/bg-pattern-three-circles.svg');
  }
  &__card-heading {
    font-size: 3.2rem;
    font-weight: $weight-bold;
    line-height: 36px;
    color: $primary-white;
    text-align: center;
  }
  &__card-sub-heading {
    font-size: 1.5rem;
    font-weight: $weight-regular;
    line-height: 25px;
    color: $primary-white;
    text-align: center;
  }
  &__cta {
    @include cta;
  }
  &__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 75px $mobile-outside-spacing;
  }
  &__logo {
    width: 202px;
    height: auto;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    border-top: 1px solid rgba($primary-white, 0.25);
    padding-top: 30px;

    & > li {
      list-style-type: none;

      & > a {
        font-size: 1.4rem;
        font-weight: $weight-regular;
        line-height: 14px;
        letter-spacing: 2px;
        color: $primary-white;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
  &__address-container,
  &__contact-container {
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
    font-weight: $weight-regular;
    line-height: 26px;
    color: rgba($primary-white, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    & > span > a {
      color: rgba($primary-white, 0.5);
      text-decoration: none;
    }
  }
  &__social-menu {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    background: linear-gradient(0deg, #1d1c1e 63%, rgb(255, 255, 255) 63%);

    &__card {
      height: 350px;
      margin-inline: auto;
      width: $tablet-outside-spacing;
    }
    &__card-heading {
      width: 50%;
      font-size: 4rem;
      line-height: 40px;
    }
    &__card-sub-heading {
      width: 60%;
      font-size: 1.6rem;
      line-height: 26px;
    }
    &__info-container {
      width: $tablet-outside-spacing;
      margin: 0 auto;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0;
      padding-block: 75px;
    }
    &__logo {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &__nav {
      grid-column: 2/4;
      height: 100%;
      flex-direction: row;
      justify-content: end;
      gap: 40px;
      border-top: none;
      padding-top: 0;
    }
    &__address-container,
    &__contact-container {
      text-align: left;
      border-top: 1px solid rgba($primary-white, 0.25);
      padding-top: 35px;
      align-items: start;
    }
    &__social-menu {
      width: 100%;
      justify-content: space-between;
      height: 100%;
      align-items: end;
      border-top: 1px solid rgba($primary-white, 0.25);
      padding-top: 43.5px;
      padding-left: 50px;
    }
  }
}
