@import '/src/scss/variables';
@import '/src/scss/mixins';

.locations {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: $margin-block;
}

@media only screen and (min-width: 768px) {
  .locations {
    gap: $margin-block
  }
}
