@import '/src/scss/variables';
@import '/src/scss/mixins';

body {
  font-family: $font;
}

// colors for h1 and h2 tags
h1,
h2 {
  color: $primary-black;
}

// colors for h3 and body tags
h3,
body {
  color: $secondary-dark-grey;
}
