@import '/src/scss/variables';
@import '/src/scss/mixins';

body {
  font-family: $font;
}

// colors for h1 and h2 tags
h1,
h2 {
  color: $primary-black;
}

// colors for h3 and body tags
h3,
body {
  color: $secondary-dark-grey;
}

@media only screen and (min-width: 768px) {
  main {
    width: $tablet-outside-spacing;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
  .App {
    background-image: url('../src/assets/shared/desktop/bg-pattern-leaf.svg'),
      url('../src/assets/shared/desktop/bg-pattern-leaf-rotated.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top 470px left, bottom 520px right;
    background-size: 65%, 65%;
  }
  main {
    width: $desktop-outside-spacing;
  }
}
