@import '/src/scss/variables';

// cta
@mixin cta {
  color: $primary-black;
  font-size: 1.5rem;
  font-weight: $weight-bold;
  letter-spacing: 1px;
  color: $secondary-dark-grey;
  text-transform: uppercase;
  background-color: $primary-white;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  max-width: 152px;
  max-height: 56px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    background-color: $secondary-light-peach;
    color: $primary-white;
  }
}

// button
@mixin btn {
  position: relative;
  z-index: 999;
  font-size: 1.5rem;
  font-weight: $weight-bold;
  line-height: 1px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $secondary-dark-grey;
  background-color: $primary-white;
  padding-block: 25px;
  border: none;
  border-radius: $border-radius;
  width: 152px;
  cursor: pointer;
}
