// typography
$font: 'Jost', sans-serif;
$weight-regular: 400;
$weight-bold: 500;

// palette
$primary-peach: #e7816b;
$primary-black: #1d1c1e; // h1, h2
$primary-white: #ffffff;
$secondary-light-peach: #ffad9b;
$secondary-dark-grey: #333136; // h3, body
$secondary-light-grey: #f1f3f5;
