@import '/src/scss/variables';
@import '/src/scss/mixins';

.hero {
  &__heading {
    font-size: 3.2rem;
    font-weight: $weight-bold;
    line-height: 36px;
    color: $primary-white;
  }
  &__sub-heading {
    font-size: 1.5rem;
    font-weight: $weight-regular;
    line-height: 25px;
    color: $primary-white;
    text-align: center;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-block: $margin-block;
  padding-inline: $mobile-outside-spacing;
}

.services {
  margin-block: $margin-block;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: $mobile-outside-spacing;
}

@media only screen and (min-width: 768px) {
  .hero {
    &__heading {
      font-size: 4.8rem;
      line-height: 48px;
    }
    &__sub-heading {
      font-size: 1.6rem;
      line-height: 26px;
      width: 60%;
    }
  }
  .projects {
    padding: 0;
  }
}
